@import
url('https://fonts.googleapis.com/css?family=Montserrat:weights@400,600,700,800');

.logo-menu {
    width: 90px;
    text-align: center;
}

.content {
    background: #ce232b;
}

.contenedor-logo-Empresa{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    background-color: rgb(52,58,64);

}

.logo {
    width: 90px;
}


.Contenedor-menu-opciones{
    width: 100%;
    background-color:rgb(52,58,64);
    height: 630px;
    border: none;
    overflow-y: auto;
}

body .ui-menu {
    background: #343a40;
    border-color: #343a40;
    width: 98%;
}

.ui-accordion-header .ui-accordion-toggle-icon{
    display: none;
}

body .ui-menu .ui-menu-list .ui-widget-header h3 {
    font-size: 1.4rem;
    color: rgb(119,123,127);
}

body .ui-menu .ui-menu-list .ui-widget-header {
    background-color: rgb(52,58,64);
}


.ui-menuitem-link{
    font-size: 15px;
}

.body .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link .ui-menuitem-text{
    color: rgba(159,162,165);
}

.Contenedor-menu-opciones::-webkit-scrollbar{
    width: 9px;
}

.Contenedor-menu-opciones::-webkit-scrollbar-track {
    background: rgb(52,58,64);
}

.Contenedor-menu-opciones::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 3px solid rgb(52,58,64);
}

.ui-panel {
    background: #1e252e;
}


body .ui-panel .ui-panel-content{
    background: #1e252e;
    border: 1px solid #1e252e;
}

.ui-panel .ui-panel-content:hover {
    background: #252c35;
}


.nombre-usuario{
    color: #4c535a;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.cargo-usuario{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

.mover-perfil{
    width: 100%;
}

.color-mover-perfil{
    padding: 0 20px;
    width: 100%;
}

.color-mover-perfil:hover{
    background: #252c35;
}

.opciones-perfil-mover{
    font-size: 12px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #e0e0e0;
}

.submenu-perfil {
    position: absolute;
    display: none;
    border-radius: 5px;
    color: #1e252e;
    z-index: 10;
    width: 170px;
    top: 64px;
    right: 78px;
    height: 54px;
    background-color: #ffffff;
    box-shadow: 0px 0px 2px  rgb(211,212,213);
    transition: transform 1s ease, opacity 1s ease;
    transform: translateY(100%);
}

.submenu-perfil.visible {
    display: block;
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

.opciones-perfil{
    padding: 10px 15px;
    color: #4c535a;
    text-decoration: none;
    width: 100%;
    display: block;
    font-family: 'Montserrat', sans-serif;
}

.opciones-enlace{
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    width: 100%;
    display: block;
    font-family: 'Montserrat', sans-serif;
}

.opciones-enlace:hover{
    border-radius: 8px;
    border-color: #3d444b;
    background: #3d444b;
}


.perfil-editar{
    text-decoration: none;
    font-size: 12px;
    padding: 0 10px;
}


.opciones-perfil:hover{
    border-radius: 8px;
    border-color: #e9ecef;
    background: #e9ecef;
}

.contenido-banner{
    width: 100%;
    height: 4rem;
    padding: 0 2px;
    background-color:white;
    border-bottom: 2px solid #dee2e6;
}

.btn-perfil:hover{
    border-radius: 8px;
    border-color: #e9ecef;
    background: #e9ecef;
}