* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;
}

.contenido-menu {
    background-color: rgb(52,58,64);
    width: 16%;
    height: 920px;
    position: absolute;
}


.Contenido-escritorio-opciones{
    position:absolute;
    width:84%;
    height:920px;
    right:0;
    border:none;
    background: rgb(255,255,255);
}

.contenido-escritorio{
    position:relative;
    width:100%;
    height:860px;
    border:none;
    z-index: 1;
    background: rgb(243,243,247);
}

.titulo-banner{
    padding: 0 2px;
    font-size: 23px;
    color: #4c535a;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.vertical-line-titulo {
    height: 34px;
    width: 0;
    border-left: 1px solid #dee2e6;
}

