@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Montserrat:weights@400,600,700,800');

* {
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}

.remove-bg {
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

.imagen-sin-fondo {
    filter: brightness(1);
    mix-blend-mode: multiply;
}

.contendor-panel{
    width: 100%;
    height: 856px;
    padding: 1% 1%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    background: rgb(243,243,247);
}

.estructura-card{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.contendor-card-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.vertical-line {
    height: 80px;
    width: 0;
    border-left: 1px solid #dee2e6;
    margin: 0 auto;
}

.contendor-card-texto{
    padding: 0 10px;
}

.estructura-card-opciones{
    width: 350px;
    height: 30px;
}

.card{
    width: 95%;
    border-radius: 4px;
    box-shadow: 0px 0px 2px  rgb(211,212,213);
}

.estructura-card-titulo {
    font-weight: bold;
}

body .ui-widget .estructura-card-titulo {
    font-size: 20px;
}

body .ui-widget .cantidad-card{
    font-size: 14px;
}

.icon-card{
    width: 80px;
    height: 80px;
}


.tablas-panels{
    width: 100%;
    height: 460px;
}

.contendor-panel::-webkit-scrollbar {
    width: 9px;
}

.contendor-panel::-webkit-scrollbar-track {
    background: rgb(241,241,241);
}

.contendor-panel::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 20px;
    border: 3px solid rgb(241,241,241);
}

.contendor::-webkit-scrollbar {
    width: 9px;
}

.contendor::-webkit-scrollbar-track {
    background: rgb(241,241,241);
}

.contendor::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 20px;
    border: 3px solid rgb(241,241,241);
}

.ui-dialog-content::-webkit-scrollbar {
    width: 9px;
}

.ui-dialog-content::-webkit-scrollbar-track {
    background: rgb(255,255,255);
}

.ui-dialog-content::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 20px;
    border: 3px solid rgb(255,255,255);
}

.ui-selectonemenu-items-wrapper::-webkit-scrollbar {
    width: 9px;
}

.ui-selectonemenu-items-wrapper::-webkit-scrollbar-track {
    background: rgb(255,255,255);
}

.ui-selectonemenu-items-wrapper::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 20px;
    border: 3px solid rgb(255,255,255);
}